{% extends 'baseGestor.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="col-12 col-lg-9 offset-lg-3 float-right mt-5">
        <div class="col-12 mt-3"><br></div>

        <div class="container">
            <section id="meu-perfil">
                <header>
                    <h1 class="text-darkblue mt-5">Meu perfil <i class="fas fa-user ml-2"></i></h1>
                    <div class="bg-green w-100" style="height: 2px"></div>
                    <p class="mb-5 text-darkblue"><a href="painelGestorIndex.php" class="ml-1 text-decoration-none text-darkgray text-hover-green">Home >> </a>Meu perfil</p>
                </header>

                <section class="row">
                    <div class="col-12 col-lg-6 float-right align-height-center">
                        <div class="text-center">
                            <img src="/img/gabs.jpg" class="rounded-circle" width="46%" alt="avatar">
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="form-group float-label-control">
                            <label for="">Nome</label>
                            <input type="text" class="form-control border border-success" placeholder="" value="Gabriel" disabled>
                        </div>
                        <div class="form-group float-label-control">
                            <label for="">Último nome</label>
                            <input type="text" class="form-control border border-success" placeholder="" value="Queiroz" disabled>
                        </div>
                        <div class="form-group float-label-control">
                            <label for="">Data de nascimento</label>
                            <input type="text" class="form-control border border-success" placeholder="" value="15/06/2000" disabled>
                        </div>
                        <div class="form-group float-label-control">
                            <label for="">CPF</label>
                            <input type="text" class="form-control border border-success" placeholder="" value="46549889525" disabled>
                        </div>
                        <div class="form-group float-label-control">
                            <label for="">E-mail</label>
                            <input type="email" class="form-control border border-success" placeholder="" value="gabriel.queiroz@yahoo.com.br" disabled>
                        </div>
                        <div class="form-group float-label-control">
                            <label for="">Telefone</label>
                            <input type="text" class="form-control border border-success" placeholder="" value="(11) 2524-9658" disabled>
                        </div>
                    </div>
                </section>
            </section>

            <section id="segurança">
                <div class="mt-4">
                    <h4 class="mb-0 page-header text-darkblue">Segurança</h4>
                </div>

                <hr class="my-3">

                <label for="">Senha</label>
                <input type="password" name="senha" class="form-control border border-success" placeholder="" value="senha" disabled>
            </section>

            <section id="bl-area">
                <div class="mt-5">
                    <h4 class="mb-0 page-header text-darkblue">Minha Área</h4>
                </div>

                <hr class="my-3">

                <label for="">Área</label>
                <input type="text" name="senha" class="form-control border border-success" placeholder="" value="T.I" disabled>
            </section>

            <section id="bl-editarPerfil">
                <div class="mt-5">
                    <h4 class="mb-0 page-header text-darkblue">Editar Perfil</h4>
                </div>

                <hr class="my-3">

                <div class="col-12 col-lg-3">
                    <a href="painelGestorAlterarPerfil.php"><button class="w-100 btn bg-green text-darkblue font-weight-bold letter-spacing">Editar perfil</button></a>
                </div>
            </section>

            <hr class="hr bg-green my-5">

            <footer>
                <div class="container col-3 col-md-2 col-lg-1 mx-auto mt-5 mb-3">
                    <div>
                        <a href=""><img src="/img/logo-Bayer.png" width="70"></a>
                    </div>
                </div>
            </footer>
        </div>
    </main>
{% endblock %}