<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/vnd.microsoft.icon" href="/img/bayer.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="/css/default1.css" type="text/css"> <!-- css padrão site-->

    <title>BAYER HOME</title>
</head>
<body>
<!-- Topo/Menu-->
<header class="position-fixed bg-white col-12 z-index menu"><!--Inicio cabeçalho-->
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <img class="navbar-brand" id="logo" src="/img/logo-Bayer.png" width="80" length="200">

            <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#nav-principal">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse bg-white col-12" id="nav-principal">
                <ul id="nav-ul" class="navbar-nav ml-auto font-weight-bold hover-link-menu">
                    <li class="nav-item">
                        <a href="#home" class="nav-link text-darkblue">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#bayer" class="nav-link text-darkblue">BAYER</a>
                    </li>
                    <li class="nav-item">
                        <a href="#training" class="nav-link text-darkblue">O TRAINING</a>
                    </li>
                    <li class="nav-item">
                        <a href="#participe" class="nav-link text-darkblue">PARTICIPE</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("login") }}" class="nav-link active">ENTRE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header><!--Final cabeçalho-->

<div style="height: 15vh" class="col-12"></div>

<!--Bloco 1 Home-->
<section id="home" class="bloco text-bl-1">
    <div class="img">
        <img class="img-bl-1" src="/img/Capturar.jpg">
    </div>

    <div class="opacidade background-bl-1"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center align-bottom text-shadow mb-5">
                <h1 class="my-4 text-uppercase font-weight-bold display-4 letter-spacing">BAYER TRAINING</h1>
                <h5 class="letter-spacing"> O MELHOR PROGRAMA DIGITAL DE TREINAMENTOS!</h5>
                <h5 class="letter-spacing"> ADQUIRA EXPERIÊNCIAS E CONHECIMENTOS COM CASES REAIS</h5>
            </div>
        </div>
    </div>
</section><!--Final home-->

<!-- Bloco 2 Sobre Nós-->
<section id="bayer" class="bloco bg-lightblue">
    <div class="container">
        <div class="col-12 text-white text-center text-shadow">
            <h3 class="pt-5">CONHEÇA UM POUCO SOBRE NÓS</h3>
        </div>

        <div class="col-12 col-lg-8 mt-5 mx-auto">
            <iframe class="col-12 mx-auto" height="315" src="https://www.youtube.com/embed/SBA8GSLWkDE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<!-- Bloco 3 Bayer Training-->
<section id="training" class="bloco bg-gray align-height-center">
    <div class="d-none d-lg-block img-fundo-bl-3 col-5 offset-7">
        <img src="/img/logo-Bayer.png">
    </div>

    <div class="container">
        <div class="col-12 mx-auto text-center text-darkblue">
            <h1 class="">O QUE É BAYER TRAINING?</h1>
            <h5 class="my-5">A BAYER TRAINING é uma plataforma digital inovadora no mercado, que busca propocionar casos reais de possíveis problemas enfrentados por nossos profissionais de diversas áreas no cotidiano da empresa...</h5>
            <h3>Mas o que você ganha com isso?</h3>

            <a href="" class="btn btn-success btn-lg mt-5">VEJA O VÍDEO E SE SURPREENDA!</a>
        </div>
    </div>
</section>

<!-- Bloco Informativo -->
<section class="bloco-small align-height-center">
    <div class="w-100 img-bl-informativo"></div>

    <div class="opacidade-bl-informativo background-bl-informativo"></div>

    <div class="container align-height-center text-center letter-spacing">
        <div class="row">
            <div class="col-md-12 text-white">
                <h4>ADQUIRA EXPERIÊNCIA COM OS MELHORES</h4>
            </div>
        </div>
    </div>
</section>

<!-- Bloco 4 Participe -->
<section id="participe" class="bg-darkblue bloco align-height-center">
    <div class="d-none d-lg-block img-fundo-bl-4 col-7">
        <img src="/img/engrenagem.png" alt="" title="">
    </div>

    <div class="container">
        <div class="col-12 text-center text-white text-shadow">
            <h4>QUER PARTICIPAR DOS PROCESSOS DE UMA GRANDE EMPRESA?</h4>
            <h4 class="my-4">QUER SER UM GRANDE TALENTO?</h4>
            <h4>PARTICIPE AGORA MESMO DA BAYER TRAINING!</h4>
            <a href="#" class="btn btn-success btn-lg mt-5">QUERO PARTICIPAR!</a>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="col-4 col-sm-3 col-lg-1 mx-auto py-3">
        <a href=""><img src="/img/logo-Bayer.png" width="142"></a>
    </div>
</footer>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html><?php
